<div class="root" *ngIf="Show" (wheel)="onMouseWheel($event)">
  <p *ngIf="_UrlList.length === 0" class="errText">Nothing To Display</p>
  <p *ngIf="_UrlList.length <= Pointer || 0 > Pointer || Pointer === null" class="errText">Wrong Index</p>
  <div *ngIf="_UrlList.length !== 0 && _UrlList.length > Pointer  && 0 <= Pointer && Pointer !== null" class="content">
    <!-- [ngStyle]="{scale: _UrlList[Pointer].scale}" -->
    <!-- [ngStyle]="{width: (100 * _UrlList[Pointer].scale) + 'vw', height: (100 * _UrlList[Pointer].scale) + 'vh'}" -->
    <!-- <img *ngIf="_UrlList[Pointer].type === MediaType.IMG" [src]="_UrlList[Pointer].url"
      [ngStyle]="{width: (100 * _UrlList[Pointer].scale) + 'vw', height: (100 * _UrlList[Pointer].scale) + 'vh'}">
    <video *ngIf="_UrlList[Pointer].type === MediaType.VIDEO" [src]="_UrlList[Pointer].url" autoplay loop
      [ngStyle]="{width: (100 * _UrlList[Pointer].scale) + 'vw', height: (100 * _UrlList[Pointer].scale) + 'vh'}"></video> -->
    
      <img *ngIf="_UrlList[Pointer].type === MediaType.IMG" [src]="_UrlList[Pointer].url" 
    [ngStyle]="{'max-width': (100 * _UrlList[Pointer].scale) + 'vw', 'max-height': (100 * _UrlList[Pointer].scale) + 'vh'}">
    <video *ngIf="_UrlList[Pointer].type === MediaType.VIDEO" [src]="_UrlList[Pointer].url" autoplay loop
    [ngStyle]="{'max-width': (100 * _UrlList[Pointer].scale) + 'vw', 'max-height': (100 * _UrlList[Pointer].scale) + 'vh'}"></video>
    
  </div>
  <div class="splitScreen" style="left: 0;" (click)="shift(-1)"></div>
  <div class="splitScreen" style="right: 0;" (click)="shift(1)"></div>
  <div class="subSplitScreen" style="left: 0;" (click)="scale(-.25)">
    <span class="material-icons">
      remove
    </span>
  </div>
  <div class="subSplitScreen" style="right: 0; flex-direction: row-reverse" (click)="scale(.25)">
    <span class="material-icons">
      add
    </span>
  </div>
  <div class="subSplitMid">
    <span *ngIf="!Playing" (click)="play()" class="material-icons">
      play_arrow
    </span>
    <span *ngIf="Playing" (click)="stop()" class="material-icons">
      pause
    </span>
    <input type="number" class="timeInput" [(ngModel)]="TimerInterval">
  </div>
  <div class="top" style="left: 1rem;">
      <span>{{Pointer}}/{{_UrlList.length}}</span>
      <input type="number" class="pointerInput" [(ngModel)]="Pointer">
    </div>
  <div class="top" style="right: 0;" (click)="Show = false;">
    <span class="material-icons">
      close
    </span>
  </div>
</div>